h1,
h2 {
  text-align: center;
}

header {
  background-image: linear-gradient(to right, rgb(72, 101, 180), darkblue);
  color: antiquewhite;
}

#current-forecast {
  border: solid 1px black;
}

h3 {
  padding: 5px;
}

.li-btn {
  border: 2px solid black;
  padding: 2px;
  background-color: beige;
  margin-bottom: 2px;
  text-align: center;
}

.forecast {
  background-color: darkblue;
  color: antiquewhite;
  padding: 10px;
  border: solid 5px white;
}

#search-bar {
  width: 100%;
  margin: 5px;
}

#submit-button {
  width: 100%;
  margin: 5px;
}
