
h1 {
  text-align: center;
}

header{
  background-image: linear-gradient(to right , rgb(72, 101, 180), darkblue);
  color: antiquewhite;
}

#current-forecast {
  border: solid 1px black;
}

h3 {
  padding: 5px;
}

.forecast {
  background-color: darkblue;
  color: antiquewhite;
  padding: 10px;
  border-left: solid 5px white;
  border-right: solid 5px white;
} 

#search-bar{
  width: 100%;
  margin: 5px;
  }

#submit-button{
  width: 100%;
  margin: 5px;
}
